.form_hint {
  font-size: 90%;
  color: #888;
}

label.error {
  padding: 0 0 0 30px;
  margin: 0;
  display: inline;
  float: left;
  color: #9e242d;
  line-height: 2em;
  width: 180px;
  background: url('../images/delete.png') 3px 1px no-repeat;
}

label.checked {
  background: url('../images/check.png') 3px 1px no-repeat;
}
