#custom-doc { width: 100%; min-width: 250px; } 
html {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  background: #6d6660;
}
#bd {
  font-size: 125%;
  line-height: 1.5em;
  text-align: justify;
  background: #4f473f;
  color: #ddd;
  border-top: 2px solid #551413;
  border-bottom: 2px solid #551413;
}
#bd h1 { font-weight: bold; font-size: 160%; padding: 0 0 12px 0; }
#bd h2 { font-weight: bold; font-size: 140%; padding: 0 0 12px 0; }
#bd h3 { font-weight: bold; font-size: 120%; padding: 0 0 12px 0; }
#bd p { padding: 0 0 12px 0; }
#bd a { color: #ccc; text-decoration: none; }
#bd a:hover { color: #fff; text-decoration: underline; }
.content {
  width: 950px;
  margin: 0 auto;
}
.yui-g {
  padding: 1.5em 0 3em 0;
}
#logo {
  display: inline;
  float: left;
  padding-bottom: 5px;
}
#navigation {
  display: inline;
  float: right;
}
#navigation.top {
  font-size: 135%;
  position: relative;
  top: 152px;
  right: 2px;
}
#navigation.bottom {
  position: relative;
  top: 0;
  right: 2px;
}
#navigation ul {
  list-style-type: none;
}
#navigation ul li {
  display: inline;
  float: left;
}
#navigation ul li a {
  padding: 1em 0 1em 1.8em;
  color: #ccc;
  text-decoration: none;
}
#navigation ul li a:hover {
  color: #fff;
}
#ft {
  font-size: 120%;
  color: #ddd;
  padding: .25em 0;
}
#copyright {
  display: inline;
  float: left;
}
strong {
  font-weight: bold;
  color: #fff;
}
a img.thumb {
  border: 2px solid #4f473f;
}
a:hover img.thumb {
  border: 2px solid #551413;
}
fieldset {
  border: 1px solid #ddd;
  padding: 1em;
  clear: both;
}
fieldset div {
  display: block;
  clear: both;
  line-height: 2em;
  padding: 0 0 10px 0;
}
legend {
  color: #ddd;
  font-weight: bold; 
  font-size: 120%; 
  padding: 0 .5em;
}
fieldset div > label:first-child {
  display: inline;
  float: left;
  width: 180px;
  line-height: 2em;
}
.form_hint {
  font-size: 90%;
  color: #888;
}

label.error {
  padding: 3px 0 3px 30px;
  margin: 0;
  color: #600;
  height: 30px;
  background: url('../images/delete.png') 3px 1px no-repeat;
}

label.checked {
  background: url('../images/check.png') 3px 1px no-repeat;
}
#photo_upload_container {
  padding: 2em 0;
}
a.button {
  border: 2px solid #400;
  display: inline;
  float: right;
  padding: 5px 10px;
  background: #551413;
  color: #ccc;
  text-decoration: none;
}
a:hover.button {
  color: #fff;
  text-decoration: none;
}
.edit_button, .delete_button {
  display: inline;
  float: left;
  padding: 5px 10px 5px 0;
  vertical-align: middle;
}
div.art {
  clear: both;
}
.lb_photo_wrapper {
  display: inline;
  float: left;
  padding-right: 15px;
}
div.pagination {
  clear: both;
  padding: 1em;
  text-align: center;
}
p.artist_bio, p.artist_contact {
  display: none;
  clear: both;
}
div.artist {
  clear: both;
  padding: 10px 0 20px 0;
}
div.flash {
  color: #000;
  padding: .5em 1em;
  text-align: center;
  margin: 10px;
}
div.flash.error {
  background: #ffbcbc;
  border: 3px solid #b00;
}
div.flash.notice {
  background: #89d86c;
  border: 3px solid #086b00;
}
a.artist {
  display: inline;
  float: left;
  width: 200px;
}
div.category, div.medium, div.artist_div {
  display: block;
  line-height: 30px;
  width: 800px;
  text-align: left;
  border-bottom: 1px solid #666;
  clear: both;
  overflow: hidden;
}
div.category_name, div.medium_name, div.artist_name {
  display: inline;
  float: left;
  line-height: 30px;
}
div.edit_category_button, div.edit_medium_button, div.edit_artist_button, div.delete_artist_button, div.show_artist_button {
  display: inline;
  float: left;
  height: 26px;
  width: 24px;
  margin: 0;
  padding: 4px 0 0 1em;
}
div.artist_details {
  display: block;
  clear: both;
  padding: 1em;
  text-align: justify;
}
div.bio_photo {
  padding: 0 1em 1em 0;
}
div.art_piece {
  width: 32%;
  display: inline;
  float: left;
  height: 400px;
}
div.art_piece_details {
  clear: both;
}
div.pagination {
  display: block;
  clear: both;
  overflow: hidden;
}
div.biography_link, div.art_link {
  display: block;
  text-align: right;
  clear: both;
  overflow: hidden;
}
